<%include partials/header %>


<div class="container">
        <header>
            <div class="jumbotron">
                <h1>Welcome to Lab 2</h1>
              </div>
          </header>
        <article>
    <div class="container">
      <div class="row">
        <div class="col-sm">

          <h5 class="member-title">Rahul</h5>
                       
           <a href="rahul" class="btn btn-warning">Rahul</a>
        </div>
        <div class="col-sm">
          <h5 class="member-title">Aviral</h5>
                         
          <a href="aviral" class="btn btn-warning">Aviral</a>
        </div>
        <div class="col-sm">
          <h5 class="member-title">Hemant</h5>
                       
          <a href="hemant" class="btn btn-warning">Hemant</a>
        </div>
      </div>
    </div>
           
          </article>
      </div>
   

<%include partials/footer %>

